secrets: secrets.yml

schedules:
  - tasks: 'TV Shows'
    schedule:
      minute: "*/3"
  - tasks: 'Sports'
    schedule:
      minute: "*/3"
  - tasks: 'Movies'
    schedule:
      minute: "*/5"

tasks:
  TV Shows:
    rss: https://immortalseed.me/rss.php?secret_key={{ secrets.macaroon.key }}&feedtype=download&timezone=-5&showrows=100&categories=8,48,49
    template:
      - tv
    download:   ~/torrents/tvshows

  Sports:
    rss: https://immortalseed.me/rss.php?secret_key={{ secrets.macaroon.key }}&feedtype=download&timezone=-12&showrows=40&categories=7
    template:
      - tv
    download:   ~/torrents/tvshows

  KidsMovies:
    rss: https://immortalseed.me/rss.php?secret_key={{ secrets.macaroon.key }}&feedtype=download&timezone=-5&showrows=5&categories=16
    download:   ~/torrents/family_movies
    template:
      - kid_movies

  Movies:
    rss: https://immortalseed.me/rss.php?secret_key={{ secrets.macaroon.key }}&feedtype=download&timezone=-5&showrows=5&categories=16
    download:   ~/torrents/movies
    template:
      - movies
      - movies_mine

templates:
  tv:
    series:
      settings:
        best:
          quality: hdtv+ <=720p !10bit
          target: 720p
          timeframe: 6 hours
          propers: 12 hours
        better:
          quality: hdtv+ <=720p !10bit
          target: <720p
          timeframe: 6 hours
          propers: 12 hours
        average:
          quality: hdtv+ <=720p !10bit
          target: <720p
          timeframe: 6 hours
          propers: 12 hours
      best:
        - Arrow
        - Silcon Valley
        - Veep
        - The Flash
        - Game of Thrones
        - Match of the Day Two
        - Shark Tank
        - Star Wars Rebels
        - Liv and Maddie
        - The Muppets
        - Sherlock
        - The X Files
      average:
        - Full Frontal with Samantha Bee
        - Last Week Tonight with John Oliver
        - Chopped
        - The Real Housewives of Atlanta
        - The Real Housewives of Orange County
  movies:
    imdb:
      #min_year: 2015
      min_score: 6.1
      min_votes: 5000
      reject_genres:
        - horror
    quality: 720p+
    seen_movies: strict

  kid_movies:
    imdb:
      min_score: 6.1
      min_votes: 5000
      reject_genres:
        - horror
      accept_mpaa_ratings:
        - G
        - PG
    quality: 720p+
    seen_movies: strict

  movies_mine:
    imdb_list:
      user_id: '{{ secrets.macaroon.imdbid }}'
      list: watchlist
    quality: 720p+
